*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: black;
  flex-direction: column;
}
.stopwatch{
  padding: 20px 24px;
}
.timer-display{
  font-size: 50px;
  font-weight: bold;
}
.buttons{
  margin: 20px;
}
.btn{
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 12px 24px;
  background-color: black;
  border: 2px solid white;
  margin-inline: 12px;
  cursor: pointer;
}
  